.cards {
  margin-top: -200px;
  padding-bottom: 75px;
  @media (max-width: $tablet) {
    margin-top: -50px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 35px;
  }
  @media (max-width: 700px) {
    margin-top: 0;
  }

  &__container {
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 21px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 -22px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);

  &:first-child {
    transition: transform 1s ease .3s, opacity 0.3s ease-in-out .3s;
  }

  &:nth-child(2) {
    transition: transform 1s ease .5s, opacity 0.3s ease-in-out .5s;
  }

  &:last-child {
    transition: transform 1s ease 1s, opacity 0.3s ease-in-out 1s;
  }


  &._watcher-view {
    opacity: 1;
    transform: translateY(0);
  }


  @media (hover: hover) {
    &:hover {
      .card__content {
        background: var(--light-green)
      }

      .card__arrow svg {
        transform: rotate(30deg);
      }

      .card__image-ibg img {
        transform-origin: center;
        transform: scale(1.03);
      }
    }
  }

  &__image-ibg {
    aspect-ratio: 473/395;
    overflow: hidden;

    img {
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: var(--green);
    padding: 35px 46px 20px;
    color: var(--white);
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $pc) {
      padding: 35px 20px 20px;
      min-height: 344px;
    }

  }

  &__title {
    font-size: 34px;
    line-height: math.div(38, 34);
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 12px;
      @media (max-width: $mobile) {
        margin-bottom: 17px;
      }
    }
  }

  &__text {
    flex: 1 1 auto;
    font-size: 20px;
    line-height: math.div(24, 20);
    max-width: 364px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__arrow {
    text-align: right;
    margin-right: -20px;
    @media (max-width: $pc) {
      margin-right: 0;
    }

    svg {
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    }
  }
}