.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-block {
  padding-bottom: 250px;
  flex: 1 1 auto;
  @media (max-width: $tablet) {
    padding-bottom: 100px;
  }

  &--services {
    padding-bottom: 0;

    .main-block__content {
      padding-top: 60px;
      @media (max-width: $mobile) {
        padding-top: 120px;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__content {
    color: var(--white);
    //@include adaptiveValue("padding-top", 200, 144, 0, 1920, 991);
    padding-top: clamp(100px, 18.5vh, 200px);
    @media (max-width: $mobile) {
      padding-top: 144px;
    }
  }

  &__title {
    word-break: break-word;
    max-width: 1006px;
    font-weight: 700;
    line-height: math.div(96, 78);
    @include adaptiveValue("font-size", 78, 52, 0, 1920, 991);
    transition: transform 1s ease .3s, opacity 1s ease .3s;
    opacity: 0;
    transform: translateY(40px);

    &._watcher-view {
      opacity: 1;
      transform: translateY(0);
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__text {
    max-width: 706px;
    font-size: 20px;
    line-height: math.div(24, 20);
    transition: opacity 1s ease .8s;
    opacity: 0;
    transform: translateY(40px);

    & > * {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    &._watcher-view {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
    margin-top: 100px;
    padding-bottom: 92px;
    @media (max-width: 1600px) {
      margin-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: $pc) {
      gap: 20px;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 11px;
      gap: 0px;
      margin-top: 77px;
      padding-top: 0;
    }

  }

  &__link {
    padding: 0px 25px 15px 0px;
    display: flex;
    align-items: flex-end;
    gap: 36px;
    color: var(--white);
    justify-content: space-between;
    @media (max-width: $tablet) {
      padding: 30px 10px;
    }

    &:hover {
      .main-block__link-text {
        transform: translateX(20px);
      }

      .main-block__link-icon {
        transform: rotate(45deg);
      }
    }

    &:not(:last-child) {
      border-right: 1px solid #D5D5D5;
      @media (max-width: $tablet) {
        border-right: none;
        border-bottom: 1px solid #D5D5D5;
      }
    }
  }

  &__link-text {
    max-width: 309px;
    flex: 1 1 auto;
    font-size: 34px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    font-weight: 700;
    line-height: math.div(38, 34);
    @media (max-width: $pc) {
      font-size: 24px;
    }

  }

  &__link-icon {
    width: 25px;
    flex-shrink: 0;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  }

}

.main-block--contact {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .main-block__content {
    padding-top: 150px;
    @media (max-width: $tablet) {
      padding-top: 100px;
    }
  }
}

.contact {
  background: rgba(15, 20, 26, 0.8);
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 100%;
  padding: 60px 0 190px;
  color: var(--white);
  margin-top: 100px;
  @media (max-width: $pc) {
    padding: 40px 0 140px;
  }
  @media (max-width: $tablet) {
    padding: 40px 0 10px;
    margin-top: 50px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__column {
    padding: 30px 80px;
    @media (max-width: $pc) {
      padding: 30px;
    }
    @media (max-width: $tablet) {
      padding: 30px 0;
    }

    &:not(:last-child) {
      border-right: 1px solid #FFFFFF;
      @media (max-width: $tablet) {
        border-right: none;
        border-bottom: 1px solid #FFFFFF;
      }
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: math.div(24, 20);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    font-size: 40px;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    line-height: math.div(52, 40);
    color: var(--light-green);
    @media (max-width: $tablet) {
      font-size: 32px;
    }

    &:hover {
      color: var(--green);
    }


  }

  &__country {
    font-size: 20px;
    line-height: math.div(24, 20);
  }
}