.map {
  padding-bottom: 165px;
  margin-top: -122px;
  position: relative;

  z-index: 2;
  @media (max-width: $tablet) {
    margin-top: 0;
    padding: 70px 0;
  }

  &__container {
  }

  &__wrap-ibg {
    position: relative;
    aspect-ratio: 1458/677;
    @include animation();
    @media (max-width: $mobile) {
      aspect-ratio: 1.2;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}